<div class="contact1-pic">
    <%= image_tag "schedule.png" %>
</div>

<%= form_with scope: :student, url: students_path, class: "contact1-form validate-form", local: true do |f| %>
<span class="contact1-form-title">
    <%= link_to root_path do %>
    <%= image_tag  "logo.svg", height: '65', width: '213', :class => "img-icons" %>
    <% end %>
</span>

<div id="errors" class="contact1-form-error">
    <% if flash[:errors] %>
    <%= flash[:errors] %>
    <% end %>
</div>

<div class="wrap-input1 validate-input">
    <%= f.text_field :student_id , class: 'input1', placeholder: 'Student ID'%>
</div>

<div class="wrap-input1 validate-input">
    <%= f.text_area :raw_schedule, class: 'input1', placeholder: 'Your schedule' %>
</div>

<div class="container-contact1-form-btn">
    <%= f.button "Create", type: 'submit', class: 'contact1-form-btn', :onclick => "return validateForm();" %>
</div>
<% end %>

<script type="text/javascript">
    function validateForm() {
        var id = document.getElementById('student_student_id').value;
        var schedule = document.getElementById('student_raw_schedule').value;
        var err_outp = document.getElementById('errors');
        err_outp.innerHTML = "";

        if (id == '' || id.length > 10){
            err_outp.innerHTML = "Student code is invalid!";
        }
        else if (schedule == '')
        {
            err_outp.innerHTML = "Schedule is empty!";
        }
        else{
            return true;
        }

        return false;
    }
</script>