<div class="contact1-pic">
  <%= image_tag  "schedule.png" %>
</div>

<%= form_with scope: :student, url: students_path, class: "contact1-form validate-form", local: true do |f| %>
<span class="contact1-form-title">
  SCHEDUDE
</span>

<div class="wrap-input1 validate-input">
  <%= f.text_field :student_id , class: 'input1', placeholder: 'Student ID'%>
</div>

<div class="wrap-input1 validate-input">
  <%= f.text_area :schedule, class: 'input1', placeholder: 'Your schedule' %>
</div>

<div class="container-contact1-form-btn">
  <%= f.submit "Create", class: 'contact1-form-btn'%>
</div>
<% end %>