<!DOCTYPE html>
<html>

<head>
  <title>Schedude - Tạo thời khóa biểu thật dễ dàng</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-2 pl-sm-0" id="navbar">
      <div class="container">
        <div class="navbar-brand-wrapper d-flex w-100 justify-content-center">
          <%= link_to root_path do %>
          <%= image_tag  "logo.svg", height: '75', width: '246', :class => "img-icons" %>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <div class="banner">
    <div class="container">
      <h3 class="font-weight-bold">Tạo Thời Khóa Biểu thật đơn giản và dễ dàng</h3>
      <h6 class="font-weight-normal text-muted pt-1 pb-3"><b>Schedude</b> giúp bạn dễ dàng tạo ra một thời khóa 
      biểu cho riêng mình, với tùy chọn bỏ qua thời gian học không mong muốn!</h6>
      <div class="">
        <%=link_to '<button type="button" class="btn btn-opacity-light">Sử dụng Schedude</button>'.html_safe, controller: 'students', action: 'new'%>
      </div>
      <%= image_tag  "description.svg", height: '200', width: '300', :class => "img-fluid mb-5 mt-5" %>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container mb-5">
      <section class="features-overview" id="features-section">
        <div class="content-header">
          <h3 class="font-weight-bold">Ba bước sử dụng Schedude</h3>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start" style="justify-items: center;">
            <div class="features-width">
              <%= image_tag  "share.svg", :class => "img-icons" %>
              <h5 class="py-3">Chọn dữ liệu lịch học</h5>
              <%= image_tag  "use-step-1.gif", :class => "img-fluid" %>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <%= image_tag  "click.svg", :class => "img-icons" %>

              <h5 class="py-3">Tạo thời khóa biểu</h5>
              <%= image_tag  "use-step-2.gif", :class => "img-fluid" %>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
              <%= image_tag  "save.svg", :class => "img-icons" %>

              <h5 class="py-3">Lưu trữ cho lần sau</h5>
              <%= image_tag  "use-step-3.gif", :class => "img-fluid" %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


  <footer class="border-top d-flex justify-content-center py-3">
    <a class="github-button" href="https://github.com/GondaKid/schedude" data-color-scheme="no-preference: dark; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star GondaKid/schedude on GitHub">Star</a>
  </footer>

</body>

</html>