<!DOCTYPE html>
<html>

<head>
  <title>Schedude - Tạo Thời Khóa Biểu Thật Đơn Giản Và Dễ Dàng</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application','https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>
  <div class="contact1">
    <%= yield %>
  </div>
</body>

</html>